<!--
  Generated template for the CardDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ categoryTitle }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="currentSegment">
      <!-- TODO: apply *ngFor -->
      <ion-segment-button value="stage1" (ionSelect)="filterBy(1)">
        1
      </ion-segment-button>
      <ion-segment-button value="stage2" (ionSelect)="filterBy(2)">
        2
      </ion-segment-button>
      <ion-segment-button value="stage3" (ionSelect)="filterBy(3)">
        3
      </ion-segment-button>
      <ion-segment-button value="stage4" (ionSelect)="filterBy(4)">
        4
      </ion-segment-button>
      <ion-segment-button value="stage5" (ionSelect)="filterBy(5)">
        5
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-fab bottom right >
   <button ion-fab>
     <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
   </button>
   <ion-fab-list side="left">
      <button ion-fab (click)="addCard()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab (click)="importFromReserve()">
        <ion-icon ios="ios-battery-charging" md="md-battery-charging"></ion-icon>
      </button>
   </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col col-2 class="count">{{stageCount[0]}}/R</ion-col>
      <ion-col col-2 class="count">{{stageCount[1]}}/30</ion-col>
      <ion-col col-2 class="count">{{stageCount[2]}}/60</ion-col>
      <ion-col col-2 class="count">{{stageCount[3]}}/150</ion-col>
      <ion-col col-2 class="count">{{stageCount[4]}}/240</ion-col>
      <ion-col col-2 class="count">{{stageCount[5]}}/450</ion-col>
    </ion-row>
  </ion-grid>


  <ion-card *ngFor="let query of queryObservable | async" (click)="show = !show">
    <ion-card-header>
      {{ query.source }}
    </ion-card-header>
    <ion-card-content class="card-detail" *ngIf="show">
      {{ query.question }}
    </ion-card-content>
    <ion-card-content class="card-detail answer" *ngIf="!show">
      {{ query.answer }}
    </ion-card-content>
    
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button full color="primary" round block (click)="success(query.$key, query)">Success</button>
        </ion-col>
        <ion-col col-4>
          <button ion-button full color="danger" round block (click)="fail(query.$key, query)">Fail</button>
        </ion-col>
        <ion-col col-4>
          <button ion-button full color="dark" round block (click)="drop(query.$key, query)">Drop</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <button (click)="test()">test</button>
</ion-content>
